<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="style.css">
  <script src='./query.mjs' type="module"></script>
</head>
<body>
  <h1>Query</h1>
  <%- include('partials/header.ejs') %>
  <h2>Enter Query</h2>
  <p>All entries are optional</p>

  <button id="clearEntriesButton">Clear Entries</button>

  <form id="queryForm">
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" value="Devon">
    <br>
    
    <label for="age">Age:</label>
    <input type="number" id="age" name="age">
    <br>

    <label for="city">City:</label>
    <input type="text" id="city" name="city">
    <br>

    <label for="date">Date:</label>
    <input type="date" id="date" name="date">
    <br />

    <button type="submit">Submit</button>
  </form>

  <h2>Results</h2>
  <div id="resultsContainer"></div>
  

</body>
</html>